rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null && request.auth.uid in [
        "EJFPIvxkW3ZFifiwYPINg3uixRr1",
        "FMubOvLPieNplbiSv07s1Tvf63X2"
      ];
    }

    match /weapons/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType == "image/png";
    }

    match /watermark/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType == "image/png";
    }

    match /censure/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 8 * 1024 * 1024
        && request.resource.contentType == "image/png";
    }
  }
}
